* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}

.drag-region {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.app-layout {
  height: 100vh;
  overflow: hidden;
}

.app-content {
  overflow-y: auto;
  padding-bottom: var(--ant-padding-lg);
}

.app-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 72rem;
  padding: 0 var(--ant-padding-lg);
}

.header-border {
  border-bottom: 1px solid var(--ant-color-border-secondary);
  line-height: normal;
}

.sentinel {
  height: var(--ant-padding-lg);
}
